/* Global styles */
html {
    background-color: #1e1e2e;
    color: #fdebf3;
}

body {
    max-width: 740px;
    margin: 0 auto;
    text-align: justify;
}

/* Headings */
h1, h2 {
    font-weight: normal;
}

h1 {
    font-size: 2.6em;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h2 {
    text-decoration: underline #375a7f;
    text-decoration-thickness: 4px;
    text-underline-offset: 6px;
    font-size: 2.1em;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}

.accueil-logo{
    font-size: 3rem;
    font-family: 'Russo One', sans-serif;

}

/* Paragraphs */
p {
    font-size: 1em;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif; 
}

a{
    font-family: 'Poppins', sans-serif;
}

/* Gifs */
.gif {
    margin: 20px 0 0 0;
    text-align: center;
}

.title-link{
    font-size: 3rem;
}

.nav-bar a {
    color: #fdebf3;
    text-decoration: none;
}

.nav-bar {
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-bar a:hover, a:focus {
    text-decoration: underline #375a7f;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

/* Card listing */
.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
}

/* Theme Icon */
html.light {
    background-color: #fdebf3;
    color: #1e1e2e;
}

.light .nav-bar a {
    color: #1e1e2e;
}

.light .card-title {
    color: #1e1e2e; 
}

.light .card-txt {
    color: #1e1e2e; 
}

.light .link-card > a {
    color: #1e1e2e; 
}

.light .button button  {
    color: #1e1e2e;
}

.light .logo-contact a img{
    color: #1e1e2e;
}

.light .footer-container a{
    color: #1e1e2e;
}

.light button:hover {
    color: #fdebf3;
}

/* Media Query */
@media only screen and (max-width: 600px) {
    body {
        width: 350px;
    }

    .title-link {
        font-size: 1.8rem;
    }

    .about-me-top{
        display: flex;
        flex-direction: column-reverse;
    }

    .footer-container{
        display: flex;
        flex-direction: column;
    }

    .footer-left, .footer-right{
        min-width: 100%;
    }
}
