---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const pageTitle = "Blog";
---

<Layout pageTitle={pageTitle}>
  <h2>Blog</h2>
  <ul role="list" class="link-card-grid">
    <Card
      href="https://medium.com/"
      image="/simplon.png"
      title="Simplon"
      body="Mon expérience en tant qu'apprenti chez Simplon... (À venir)"
    />
  </ul>
</Layout>
