---
import ThemeIcon from "./ThemeIcon.astro";
---

<div class="nav-bar">
  <a href="/" class="title-link">R.A</a>
  <a href="/projets/">PROJETS</a>
  <a href="/blog/">BLOG</a>
  <ThemeIcon />
</div>
<hr />
