---
import ThemeIcon from "./ThemeIcon.astro";
---

<div class="nav-bar">
  <a href="/" class="title-link">R.A</a>
  <a href="/projets/">PROJETS</a>
  <a href="/posts/">CV</a>
  <a href="/posts/">SURPRISE</a>
  <ThemeIcon />
</div>
<hr />
